@font-face {
  font-family: Avenir;
  src: url(./../assets/AvenirNextLTPro-Regular.otf) format("opentype");
}

@font-face {
  font-family: Hiragino;
  src: url(./../assets/hiragino-mincho-pron-w3.otf) format("opentype");
}

@keyframes fadein {
  from { opacity: 0;}
  to {opacity: 1;}
}

div {
  text-align: center;
  font-family: Hiragino;
}

.wrapper {
  display: grid;
  grid-template: repeat(6, auto) / 70px 1fr 1fr 70px;
  grid-auto-rows: auto;
  background-color: black;
  color: #eeeeee;
  grid-template-areas:
    "n n n n"
    ". h h h"
    "b p p x"
    ". s s ."
    ". a a ."
    "c c c c";
}

.logo {
  margin-left: 10px;
  margin-top: -20px;
  background-image: url(./../img/logosmall.png);
  background-position: center;
  background-size: contain;
  height: 60px;
  width: 60px;
}

.logoblack {
  background-image: url(./../img/logoblack.png)
}

.logo:hover {
  cursor: pointer;
  opacity: 0.6;
}

#navbar {
  grid-area: n;
  display: grid;
  width: 100%;
  grid-template-columns: 100px 1fr 100px 100px 100px 20px;
  padding-top: 25px;
  height: 70px;
  position: fixed;
  z-index: 1;
}

#navbar h6 {
  font-weight: 500;
}

#navbar div:hover {
  opacity: 0.5;
  text-decoration: underline;
  cursor: pointer;
}

.header {
  display: grid;
  grid-area: h;
  margin-top: 40px;
  height: 600px;
  background-image: url(./../img/herobg.jpg);
  background-position: bottom right;
  background-size: cover;
  grid-template: repeat(5, 1fr) / 10% repeat(8, 1fr);
  grid-template-areas:
    ". . . . . . . . ."
    ". g g g g g . . ."
    ". t t t t t . . ."
    ". . . . . . . . ."
    ". . . . . . . . .";
}

#greeting {
  display: none;
  grid-area: g;
  padding-top: 50px;
  margin-bottom: 50px;
  text-align: left;
}

#greeting h1 {
  font-size: 60px;
}

#tagline {
  opacity: 0;
  grid-area: t;
  text-align: left;
  font-family: Avenir;
}

#tagline h2 {
  font-size: 2.5em;
}

.breaker {
  grid-area: b;
  background-color: #C5C2C3;
  width: 200px;
}

.xbreaker {
  grid-area: x;
  background-color: #C5C2C3;
}

.projectContainer {
  padding-top: 50px;
  background-color: #C5C2C3;
  color: #050505;
  height: auto;
  grid-area: p;
  display: grid;
  grid-template-rows: repeat(auto-fit, auto);
  grid-auto-rows: auto;
  grid-gap: 40px;
  padding-right: 20px;
}

#projectTitle {
  margin-bottom: 10px;
}

#hideProject {
  margin: 0;
  width: 100px;
}

#linkSection {
  height: 100px;
}

#githubLink {
  margin: 0;
}

.projects {
  display: grid;
  grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 4%;
  padding-left: 30px;
}

.project {
  margin-bottom: 60px;
}

.project h3 {
  margin-top: 10px;
}

.project p {
  text-align: justify;
  padding: 5px 30px;
}

#projectInfo {
  border-top: 2px solid black;
  height: auto;
  margin-bottom: 30px;
  display: none;
}

#projectTitle {
  margin-top: 15px;
  margin-bottom: 20px;
}

#projectDescription {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

#projectDescription div {
  padding: 20px 20px;
}

.stretch {
  grid-column: 1 / -1;
  height: auto;
}

.skills {
  height: 400px;
  grid-area: s;
  grid-template-rows: 60px 200px;
  grid-gap: 20px;
}

.about {
  padding: 50px 10px 0px 25px;
  height: 800px;
  background-position: right;
  grid-area: a;
  display: grid;
  grid-template-rows: repeat(4, auto);
}

.aboutblurb {
  display: grid;
  margin-left: 1em;
}

.aboutimages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.reachout {
  grid-area: c;
  background-color: #C5C2C3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #050505;
  height: 700px;
  padding: 0px 70px;
  padding-left: 100px;
}

img {
  width: 100px;
  height: 100px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

li {
  list-style: none;
  width: 200px;
}

.button {
  height: auto;
  margin: 10% 30% 5%;
  width: auto;
  border: solid #6EB76E;
  background-color: black;
  color: #6EB76E;
  padding: 7px 7px;
  text-shadow: 1px 1px 0 black;
}

.button:hover {
  border: solid #6EB76E;
  background-color: #6EB76E;
  color: black;
  text-shadow: none;
}

.active {
  border: solid #6EB76E;
  background-color: #6EB76E;
  color: black;
  text-shadow: none;
}

.logoParent {
  width: 50px;
}

.logoParent img {
  display: inline-block;
  width: 100%;
  height: auto;
}

#reachoutblurb {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contactInfo {
  padding-left: 70px;
  padding-top: 130px;
  padding-bottom: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#contactInfo h4 {
  text-align: left;
  padding-left: 5px;
  margin-top: 15px;
}

.flexContact {
  display: flex;
}

.flexContact a {
  display: inline-flex;
}

.flexContact a:hover {
  color: #1d7a0d;
}

#twitter {
  width: 120%;
  margin-left: -5px;
  margin-top: -5px;
}

#email {
  width: 120%;
  margin-left: -5px;
  margin-top: -5px;
}

#linkedIn {
  border-radius: 20%;
  width: 95%;
  margin-top: 5px;
}

a {
  color: #050505;
}

iframe {
  height: auto;
  width: 100%;
  border: none;
}

.black {
  background-color: #050505;
}

.gray {
  color: #050505;
  background-color: #C5C2C3;
}

img:hover {
  filter: none;
}

.noFilter {
  filter: none;
}
