div {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template: repeat(5, 800px), repeat(4, 1fr);
  grid-gap: 5px;
  background-color: #D2CBCC;
  color: #464039;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.hoverimg {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

li {
  list-style: none;
}

#box {
  height: 100px;
  margin: 10% 40% 5%;
  border: solid #5E8260;
  border-radius: 50%;
  padding: 30px 7px 7px;
}

#box:hover {
  border: solid #a0a0a0;
  background-color: #5E8260;
}

a {
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #4D463E;
  text-shadow: 1px 2px 2px #A0958E;
}

.project:hover .hoverimg {
  display: inline;
}
